.app {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}
.box{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    width: 300px;
    font-size: 4rem;
}