.grid-item{
    background-color: whitesmoke;
    border: 1px solid black;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.gamebox{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    max-width: fit-content;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}