.app{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 2rem;
}

*{
	box-sizing: border-box;
}
.buttons{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	
}
.button{
	padding: 10px;
	text-align: center;
	background-color: #e6e6e6;
}
.button:hover{
	cursor: pointer;
	filter: brightness(90%);
}
.button-14{
	grid-row: 2/6;
	grid-column: 4/4;
	background-color: #f98b6b;
	height: 100%;
	padding-top: calc(max-width / 2);	
}
.calculator{
	width: clamp(300px, 30%, 400px);
}

.operation-button{
	background-color: #e6e6e6;
}
.output-screen{
	background-color:#252525;
	color: white;
	height: 40px;
	text-align: right;
	padding-right: 10px;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

@keyframes blink{
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}
.output-screen::after{
	
	content: "|";
	animation: blink 1s linear infinite;
	animation-timing-function: cubic-bezier(1, 0, 0, 1);

}