@import url('https://fonts.googleapis.com/css2?family=Mukta&display=swap');


.app{
    font-family: 'Mukta', sans-serif;
}
.app-header{
    font-size: 5vmin;
    text-align: center;
}
.app-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
body{
    background-color: #243537;
    color: white;
}
.options{
    display: flex;
    gap: 1rem;
}
.options>*{
    height: 1vw;
    width: 1vw;
    padding: 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #264653;
    border: 1px solid #fff;
    border-radius: 50%;
    font-size: 8vw;
    cursor: pointer;
}

.options>*:hover{
    filter: brightness(0.8);
}
#✌️{
    transform: rotate(-90deg);
}
.scoreBox{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.score{
    background-color: #264653;
    text-align: center;
    font-size: 3vw;
    font-weight: bold;
}
.result{
    font-size: 5vmin;
    padding: 1rem;
    background-color: #243537;
}
.choice{
    height: 30vw;
    width: 30vw;
    background-color: #2a9d8f;
    font-size: 20vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.vs{
    font-size: 3vw;
    margin: 0 2vw;
}